.card {
  /* position: relative;
    width: 325px; 
    height: 290px; 
    padding: 20px; */
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 112px;
  height: 112px;
  border-bottom: 1px solid #f53dee;
  border-radius: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-top: 20px;
}

.icon {
  width: 56px; /* Adjusted size to fit well within the container */
  height: 56px; /* Adjusted size to fit well within the container */
  /* argin-top: 28pmx; */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 218px;
  width: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  /* margin-top: 40px; */
  padding-top: 60px;
  margin-left: 5px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
  font-weight: 700;
  font-family: "DM Sans , sans-serif";
}
.card-subtitle {
  color: #888;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-weight: 400;
  font-family: "Poppins , sans-serif";
}

.price-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0;
}

.price-free {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  font-weight: 600;
  font-family: "Poppins , sans-serif";
}

.price-original {
  text-decoration: line-through;
  color: #aaa;
  font-size: 14px;
  margin-right: 10px;
}

.discount {
  color: #00c000;
  font-size: 14px;
  font-weight: bold;
}

.start-test-button {
  background-color: #ff00ff;
  width: 286px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.start-test-button:hover {
  background-color: #e000e0;
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
