.spoken-english-resource-list {
    padding: 30px 20px;
    text-align: center;
}

.spoken-english-resource-heading {
    font-size: 2em;
    color: #333;
}

.spoken-english-underline {
    width: 150px;
    height: 2px;
    background-color: #ff00ff;
    margin: -18px auto 40px;
}

.spoken-english-grid-container {
    margin-top: 50px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}
