.filter-container {
  /* padding: 20px; */
  background-color: #fff;
  border-radius: 10px;
  width: inherit;
  }
  
  .filter-item {
    margin-bottom: 20px;
  }
  
  .filter-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .filter-item select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  