.homepage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
    background-color: #F8F9FC;
    height: 598px;
  }
  
  .content-section {
    max-width: 50%;
    margin-left: 45px;
  }
  
  .main-heading {
    font-size: 3em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .highlight {
    color: #ff00ff; 
  }
  
  .subheading {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
  }
  
  .courses-btn, .demo-btn {
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .courses-btn {
    background-color: #ff00ff; 
    color: white;
    font-family: "poppins";
    font-weight: 500;
  }
  
  .courses-btn:hover {
    /* background-color: #cc00cc;  */
    font-size: 17px;
  }
  
  .demo-btn {
    background-color: white;
    color: #ff00ff;
    border: 2px solid #ff00ff;
    font-weight: 500;
    font-family: "poppins";
  }
  
  .demo-btn:hover {
    background-color: #ff00ff;
    color: white;
    border: 2px solid #ff00ff;
    font-weight: 500;
    font-size: 17px;
    font-family: "poppins";
  }
  
  .image-section {
    max-width: 50%;
    height: 598px; 
    display: flex;
    align-items: flex-end; 
  }
  
  .hero-image {
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 272px;
    object-fit: cover; 
  }
  