.mock-hero {
    position: relative;
    width: inherit;
    height: 80vh;
    background-image: url('/images/mockHero.png');  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mockTestContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 100px;
  }
  .mockTestHeadigStyle{
    font-size: 50px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  .mockTestContentStyle{
    font-size: 22px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
 
  
  .dropdown-container {
    margin-bottom: 20px;
  }
  
  select {
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #F53DEE;
    text-align: center;
    color: #757373;
    background-color: white;
  }
  
  select:focus {
    border: none;
    outline: none;
  }
  
  .mockestdemo-button {
    background-color: #ff00ff; /* Matches the button color from the image */
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    width: 200px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .mockestdemo-button:hover {
    background-color: #d600d6;
  }
  